html {
  background: #08252c;
}

body {
    font-family: 'Arimo';font-size: 18px;
}

input[type=button] {
  width: 120px;
  height: 42px;
  color: #fff;
  font-size: 14px;
  border: 0;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background: #00695c;
  cursor: pointer;
  transition: all .3s ease;
}

input[type=button]:hover {
  background: #cd5844;
}

input[type=button]:focus {
  outline: 0;
  box-shadow: 0;
}

.container {
  width: 1280px;
  margin: 0 auto;
  overflow: auto;
}
.container .title {
  text-align: center;
  color: #FFA500;
  padding-left: 60px;
  padding-right: 60px;
}
.container .title__link {
  display: inline-block;
  color: white;
}
.container .title__link:hover {
  text-decoration: none;
}

.chart-container {
  width: 1280px;
}

.chart-container1 {
  width: 1280px;
}

h1 {
  font-size: 3em;
}

#inner {
  margin: 0 auto;
  display: inline-block; 
  margin-left: 30px;
}

#outer {
  text-align: center;
  margin-top: 30px;
  width: 100%;
  padding-bottom: 30px;
}

h3 {
  font-size: 1em;
  text-align: center;
  color: #FFA500;
  padding-left: 200px;
  padding-right: 200px;
}

.flat-table {
    margin-bottom: 20px;
    border-collapse:collapse;
    font-family: 'Lato', Calibri, Arial, sans-serif;
    border: none;
                border-radius: 3px;
               -webkit-border-radius: 3px;
               -moz-border-radius: 3px;
  }
  .flat-table th, .flat-table td {
    box-shadow: inset 0 -1px rgba(0,0,0,0.25), 
      inset 0 1px rgba(0,0,0,0.25);
  }
  .flat-table th {
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    padding: 1em;
    color: rgba(0,0,0,0.45);
    text-shadow: 0 0 1px rgba(0,0,0,0.1);
    font-size: 1.5em;
  }
  .flat-table td {
    color: #f7f7f7;
    padding: 0.7em 1em 0.7em 1.15em;
    text-shadow: 0 0 1px rgba(255,255,255,0.1);
    font-size: 1.4em;
  }
  .flat-table tr {
    -webkit-transition: background 0.3s, box-shadow 0.3s;
    -moz-transition: background 0.3s, box-shadow 0.3s;
    transition: background 0.3s, box-shadow 0.3s;
  }
  .flat-table-1 {
    background: #00695c;
    margin-left: 356px;
    margin-top: 50px;
    text-align: center;
  }
  .flat-table-1 tr:hover {
    background: rgba(0,0,0,0.19);
  }
  .flat-table-2 tr:hover {
    background: rgba(0,0,0,0.1);
  }
  .flat-table-2 {
    background: #f06060;
  }
  .flat-table-3 {
    background: #52be7f;
  }
  .flat-table-3 tr:hover {
    background: rgba(0,0,0,0.1);
  }